:root {
  --logo-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --active-color: #87cefa;
  --titles-color: #212121;
  --discreption-color: #757575;
  --footer-color: #2f303a;
  --text-letter-spacing: 0.03em;
}

body {
  margin: 0%;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  letter-spacing: var(--text-letter-spacing);
  width: 1600px;
}
.lists{
  list-style: none;

}
.links{
  text-decoration: none;
}

/*=========HEDER==========*/
.header {
  align-items: center;
}
.header-container {
  width: 1170px;
  padding: 0 15px;
  outline: 2px solid tomato;
  align-items: center;
  margin: auto auto;
}
.logo-link {
  display: flex;
  display: inline-block;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  color: #2196f3;
  text-decoration: none;
  align-items: center;
  margin-bottom: 20px;
}
.logo-part-name {
  color: #000000;
}
.logo-link:hover,
.logo-link:focus {
  /*text-decoration: underline solid var(--accent-color);*/
  cursor: pointer;
}

.nav-list-itme {
  list-style-type: none;
  display: inline;
  margin-right: 5px;
  border: 1px solid #ffffff;
  padding: 3px;
}

.nav-list-link {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--titles-color);
  text-decoration: none;
}
.nav-list-link:hover,
.nav-list-link:focus {
  /*text-decoration: underline solid var(--accent-color);*/
  color: var(--accent-color);
}
.nav-list-link:active {
  text-decoration: none;
}

.contact-list {
  margin: 0;
  padding: 0;
}

.contact-list-itme {
  display: inline-block;
  list-style-type: none;
  height: 21px;
  padding padding-top: 10px;
  margin-bottom: 9px;
}
.contact-list-link {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
}
.contact-list-link:hover,
.contact-list-link:focus {
  /*text-decoration: underline solid var(--accent-color);*/
  color: var(--accent-color);
}
.contact-list-link:active {
  color: var(--active-color);
}
/*=========END HEDER===========*/

/*=========HERO===========*/
.hero {
  width: 1600px;
  height: 600px;
  background-color: #2f303a;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  margin-bottom: 94px;
}

.hero-container {
  width: 1170px;
  height: 600px;
  padding: 0 15px;
  outline: 2px solid tomato;
  margin-left: auto;
  margin-right: auto;
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
  padding-top: 200px;
  padding-bottom: 280;
  margin-bottom: 30px;

  /* margin-top: 200px;
  margin-right: 452px;
  margin-bottom: 30px;
  margin-left: 452;*/
}

.modal-btn {
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  background: #efefef;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--titles-color);
  margin: 0 auto;
}
.modal-btn:hover,
.modal-btn:focus {
  text-decoration: underline solid var(--accent-color);
  background-color: var(--accent-color);
  color: #ffffff;
}
.modal-btn:active {
  columns: var(--active-color);
}
/*==========END HERO==========*/

/*===========TEXT SECTION======*/
.text-container {
  width: 1170px;
  height: 101px;
  padding: 0 15px;
  outline: 1px solid #7adf27;
  margin-top: 0px;
  margin-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
}

.text-list {
  margin: 0;
  padding: 0;
}
.text-list-itme {
  list-style-type: none;
  display: flexbox;
}
.text-third-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  text-transform: uppercase;
  color: var(--titles-color);
  margin: 0px;
}
.discreption {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  color: var(--discreption-color);
}

/*========END TEXT============*/

/*========SERVISES============*/
.servises-container {
  width: 1170px;
  height: 386px;
  padding: 0 15px;
  outline: 1px solid #7adf27;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 94px;
  padding: 0;
}
.third-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  color: var(--titles-color);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  margin-top: 0px;
}
.servises-list-itme {
  display: inline-block;
  list-style-type: none;
}
/*========END SERVISES============*/

/*==============TEAM ===================*/
.team-section {
  background-color: F5F4FA;
  width: 1600px;
  height: 648px;
  vertical-align: middle;
  outline: 1px solid tomato;
  align-items: center;
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-container {
  width: 1170px;
  height: 368px;
  padding: 0 15px;
  outline: 1px solid #7adf27;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
 
}
.team-list {
  margin: 0;
  padding: 0;
}
.team-list-itme {
  list-style-type: none;
  display: inline-block;
}

/*=========fOOTER============*/
.address-link {
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1.714;
  text-decoration: none;
  color: #ffffff;
  height: 21px;
  margin-bottom: 9px;
}
.address-link:hover,
.address-link:focus {
  /*text-decoration: underline solid var(--accent-color);*/
  color: var(--accent-color);
}
.address-link:active {
  color: var(--active-color);
}

.footer {
  width: 1600px;
  height: 250px;
  background-color: #2f303a;
}
.footer-container {
  width: 1170px;
  height: 252px;
  padding: 0 15px;
  outline: 2px solid tomato;
  align-items: center;
  margin: auto auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-contact-list{
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 16px;
  margin: 0px;

}
.footer-contact-list-itme{
  list-style-type: none;
  height: 21px;
  padding-right: 0px;
  margin-bottom: 9px;
}

/*========PORTFOLIO============*/
.portfolio-section {
  width: 1170px;
  padding: 0 15px;
  outline: 1px solid #7adf27;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 94px;
}
.galery-section{
  width: 1200px;
  outline: 1px solid sienna;
  margin-left: auto;
  margin-right: auto;
  galery-section:not(nth-last-chail){
    
  }
}
.portfolio-galery-list {
  padding: 0px;
  margin: 0px;
}
.filter-list{
 margin-top: 0px;
  margin-bottom: 0px;
   margin-bottom: 50px;
}
.filter-list-itme {
  display: inline-block;
  background: #f5f4fa;
 
 
}
.filter-modal-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  color: #212121;
  background-color: #f5f4fa;
  border-radius: 4px;
 
  height:38px ;
  padding: 6px 22px;
   margin-right: 8px;
 

}
.filter-modal-btn:hover,
.filter-modal-btn:focus {
  /*text-decoration: underline solid var(--accent-color);*/
  background-color: var(--accent-color);
  color: #ffffff;
}
.filter-modal-btn:active {
  columns: var(--active-color);
}

.galery-list-itme {
  list-style-type: none;
  display: inline-block;
}
.galery-list-img{
  margin-left: 2px;
  margin-right: 2px;
}

/*============COMPANENTS==========*/
.forth-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  color: var(--titles-color);
}
.sub-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.187;
  color: var(--discreption-color);
}
